/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1200px;
  text-align: center;
}

h1, h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #000;
}

p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1.5rem;
}

.hero-content {
  text-align: center;
  margin-bottom: 2rem;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.hero-content button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero-content button:hover {
  background-color: #0056b3;
}

.products-title {
  font-size: 2rem;
  margin: 2rem 0;
}

.products, .product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
  max-height: 150px; /* Set a maximum height for the images */
  margin-bottom: 10px;
  object-fit: cover; /* Ensure the image fits within the container */
}

.product h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.product p {
  font-size: 16px;
  color: #666;
}

.product button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product button:hover {
  background-color: #0056b3;
}

.product a.view-details {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.product a.view-details:hover {
  background-color: #0056b3;
}
